In [4]:
import pandas as pd
import numpy as np
from pycaret.regression import *

In [7]:
df=pd.read_csv('lcar.csv')
df.head()

,Unnamed: 0,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,brand,model
0,0,1003000,86226,Diesel,Man,1,2017,1956,5,Jeep,Compass 2.0
1,1,1283000,13248,Petrol,Auto,1,2021,1330,5,Renault,Duster RXZ
2,2,1640000,60343,Petrol,Auto,1,2016,2494,5,Toyota,Camry 2.5
3,3,777000,26696,Petrol,Auto,1,2018,1199,5,Honda,Jazz VX
4,4,515000,69414,Petrol,Man,1,2016,1199,5,Volkswagen,Polo 1.2

In [8]:
# Drop unnecessary column
df = df.drop(columns=["Unnamed: 0"], errors="ignore")

In [9]:
# Feature Engineering
df["car_age"] = 2025 - df["manufacture"]
df["kms_per_year"] = df["kms_driven"] / df["car_age"].replace(0, 1)  # Avoid division by zero

In [15]:
# Convert categorical columns explicitly
df["fuel_type"] = df["fuel_type"].astype(str)
df["transmission"] = df["transmission"].astype(str)
df["brand"] = df["brand"].astype(str)
df["model"] = df["model"].astype(str)  # Treat model names as categorical

In [17]:
# PyCaret Setup
regression_setup = setup(
    data=df,
    target="car_prices_in_rupee",
    ignore_features=["model"],  # Ignore 'model' since it's too specific
    categorical_features=["fuel_type", "transmission", "brand"],
    session_id=42,
    normalize=True  # Normalize numerical features
  
)

In [18]:
# compare different models
best_model=compare_models()

In [19]:
#Step 3: Create and Train Random Forest Model
rf_model = create_model('rf')  # 'rf' is the identifier for Random Forest in Pycaret

In [20]:
# Step 4: Tune the Random Forest Model (Optional, for better performance)
tuned_rf_model = tune_model(rf_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [21]:
# Step 5: Finalize the Model (Train on full data)
final_rf_model = finalize_model(tuned_rf_model)

In [22]:
# Step 6: Predictions
predictions = predict_model(final_rf_model)

In [24]:

# Save the optimized model
save_model(tuned_rf_model, "car_model_rf")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['kms_driven', 'ownership',
                                              'manufacture', 'engine', 'Seats',
                                              'car_age', 'kms_per_year'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['fuel_type', 'transmission',
                                              'brand'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('o...
                                     transformer=OneHotEncoder(cols=['fuel_type'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['brand'],
                                     transformer=TargetEncoder(cols=['brand'],
                                                               handle_missing='return_nan'))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('trained_model',
                  RandomForestRegressor(n_jobs=-1, random_state=42))]),
 'car_model_rf.pkl')